{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}Интернет магазин игрушек - {{ product.namespace }}{% endblock %}

{% block content %}
    <!--== Start Shop Area ==-->
    <section class="product-single-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                    <div class="single-product-slider">
                        <div class="single-product-thumb">
                            <div class="swiper-container single-product-thumb-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide zoom zoom-hover">
                                        <div class="thumb-item">
                                            <a class="lightbox-image" data-fancybox="gallery" href="{{ product.picture.url }}">
                                                <img src="{{ product.picture.url }}" alt="Image-HasTech">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-product-info">
                        <h4 class="title">{{ product.namespace }}</h4>
                        <div class="prices">
                            <span class="price">{{ product.price }} ₽</span>
                        </div>
                        <div class="product-rating">
                            <div class="rating">
                                {% if product.star == 1 %}
                                    <span class="fa fa-star"></span>
                                {% endif %}
                                {% if product.star == 2 %}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% endif %}
                                {% if product.star == 3 %}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% endif %}
                                {% if product.star == 4 %}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% endif %}
                                {% if product.star == 5 %}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-product-featured">
                            <ul>
                                <li><i class="fa fa-check"></i> Бесплатная доставка </li>
                                <li><i class="fa fa-check"></i> Помощь 24/7 </li>
                                <li><i class="fa fa-check"></i> Гарантия возврата денег</li>
                            </ul>
                        </div>
                        <p class="product-desc">{{ product.description }}</p>
                        <div class="quick-product-action">
                            <div class="action-top">
                                <form action="{% url 'indexing:cart_add' product.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="pro-qty">
                                        <input type="text" id="quantity" name="quantity" title="quantity" value="01" />
                                    </div>
                                    <input class="btn btn-theme" value="Добавить в корзину" type="submit">
                                </form>

                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="title">Код товара:</h3>
                            <div class="widget-tags">
                                <span>Ch-{{ product.sku }}xl</span>
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="title">Категория:</h3>
                            <div class="widget-tags">
                                {% for i in product.category.all %}
                                    <a>{{ i.title }},</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="widget">
                            <h3 class="title">Тэг:</h3>
                            <div class="widget-tags">
                                {% for i in product.category.all %}
                                    <a>{{ i.title }},</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-description-review">
                            <ul class="nav nav-tabs product-description-tab-menu" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="product-aditional-tab" data-bs-toggle="tab" data-bs-target="#commentProduct" type="button" role="tab" aria-selected="false">Информация</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="product-desc-tab" data-bs-toggle="tab" data-bs-target="#productDesc" type="button" role="tab" aria-controls="productDesc" aria-selected="true">Описание товара</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="product-review-tab" data-bs-toggle="tab" data-bs-target="#productReview" type="button" role="tab" aria-controls="productReview" aria-selected="false">Отзывы (03)</button>
                                </li>
                            </ul>
                            <div class="tab-content product-description-tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="commentProduct" role="tabpanel" aria-labelledby="product-aditional-tab">
                                    <div class="product-desc">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="productDesc" role="tabpanel" aria-labelledby="product-desc-tab">
                                    <div class="product-desc">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="productReview" role="tabpanel" aria-labelledby="product-review-tab">
                                    <div class="product-review">
                                        <div class="review-header">
                                            <h4 class="title">Customer Reviews</h4>
                                            <div class="review-info">
                                                <ul class="review-rating">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <span class="review-caption">Based on 1 review</span>
                                                <span class="review-write-btn">Write a review</span>
                                            </div>
                                        </div>
                                        <div class="product-review-form">
                                            <h4 class="title">Write a review</h4>
                                            <form action="#" method="post">
                                                <div class="review-form-content">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="reviewFormName">Name</label>
                                                                <input class="form-control" id="reviewFormName" type="text" placeholder="Enter your name" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="reviewFormEmail">Email</label>
                                                                <input class="form-control" id="reviewFormEmail" type="email" placeholder="john.smith@example.com" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="rating">
                                                                <span class="rating-title">Rating</span>
                                                                <span>
                                    <a class="fa fa-star-o" href="#/"></a>
                                    <a class="fa fa-star-o" href="#/"></a>
                                    <a class="fa fa-star-o" href="#/"></a>
                                    <a class="fa fa-star-o" href="#/"></a>
                                    <a class="fa fa-star-o" href="#/"></a>
                                  </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="reviewReviewTitle">Review Title</label>
                                                                <input class="form-control" id="reviewReviewTitle" type="text" placeholder="Give your review a title" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="reviewFormTextarea">Body of Review <span>(1500)</span></label>
                                                                <textarea class="form-control textarea" id="reviewFormTextarea" name="comment" rows="7" placeholder="Write your comments here" required=""></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group pull-right">
                                                                <button class="btn btn-theme" type="submit">Submit Review</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="review-content">
                                            <div class="review-item">
                                                <ul class="review-rating">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <h4 class="title">Cobus Bester</h4>
                                                <h5 class="review-date"><span>Cobus Bester</span> on <span>Mar 03, 2021</span></h5>
                                                <p>Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!</p>
                                                <a class="review-report" href="#/">Report as Inappropriate</a>
                                            </div>
                                        </div>
                                        <div class="review-content">
                                            <div class="review-item">
                                                <ul class="review-rating">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <h4 class="title">Cobus Bester</h4>
                                                <h5 class="review-date"><span>Cobus Bester</span> on <span>Mar 05, 2021</span></h5>
                                                <p>Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!</p>
                                                <a class="review-report" href="#/">Report as Inappropriate</a>
                                            </div>
                                        </div>
                                        <div class="review-content">
                                            <div class="review-item">
                                                <ul class="review-rating">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                                <h4 class="title">Cobus Bester</h4>
                                                <h5 class="review-date"><span>Cobus Bester</span> on <span>Mar 07, 2021</span></h5>
                                                <p>Can’t wait to start mixin’ with this one! Irba-irr-Up-up-up-up-date your theme!</p>
                                                <a class="review-report" href="#/">Report as Inappropriate</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Shop Area ==-->
{% endblock %}