{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}Интернет магазин игрушек - Главная страница{% endblock %}
{% block content %}
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area slider-default">
        <div class="home-slider-content">
            <div class="swiper-container home-slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- Start Slide Item -->
                        <div class="home-slider-item">
                            <div class="thumb-one bg-img" data-bg-img="assets/img/slider/1.png"></div>
                            <div class="slider-content-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="content">
                                                <div class="inner-content">
                                                    <h2>Подарки</h2>
                                                    <p>для самых любимых до 70%</p>
                                                    <a href="{% url 'indexing:shop' %}" class="btn-theme">Оформить покупки</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img class="thumb-two" src="{% static 'assets/nimg/slider-bg.webp' %}" alt="Image">
                            </div>
                            <div class="shape-top bg-img" data-bg-img="{% static 'assets/img/photos/1.png' %}"></div>
                            <div class="shape-bottom bg-img" data-bg-img="{% static 'assets/img/photos/2.png' %}"></div>
                        </div>
                        <!-- End Slide Item -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Product Tab Area Wrapper ==-->
    <section class="product-area product-style1-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                        <h2 class="title">Новинки сезона</h2>
                        <div class="desc">
                            <p>Вы помните свои детские игрушки? Помните, как сильно вы любили своих кукол, мишек, машинки? Как с упоением собирали простенькие пластиковые конструкторы? У современной индустрии товаров для детей несоизмеримо большие возможности, чем это было еще 10-15 лет назад. И вы можете дать своему малышу сильнейший импульс для развития и познания мира, если с первых месяцев жизни будете покупать ему игрушки в магазине «Paradise for kids».</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tab-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist" data-aos="fade-up" data-aos-duration="1000">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="our-features-tab" data-bs-toggle="tab" data-bs-target="#our-features" type="button" role="tab" aria-controls="our-features" aria-selected="true">Все товары</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="best-sellers-tab" data-bs-toggle="tab" data-bs-target="#best-sellers" type="button" role="tab" aria-controls="best-sellers" aria-selected="false">Для девочек</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link mr-0" id="new-items-tab" data-bs-toggle="tab" data-bs-target="#new-items" type="button" role="tab" aria-controls="new-items" aria-selected="false">Для мальчиков</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent" data-aos="fade-up" data-aos-duration="1300">
                            <div class="tab-pane fade show active" id="our-features" role="tabpanel" aria-labelledby="our-features-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                {% for item in product %}
                                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                                        <!-- Start Product Item -->
                                                        <div class="product-item">
                                                            <div class="product-thumb">
                                                                <img src="{{ item.picture.url }}" style="max-height: 201px; max-width: 191px;" alt="Image">
                                                                <div class="product-action">
                                                                    <a class="action-quick-view" href="{% url 'indexing:product-detail' item.pk %}"><i class="ion-arrow-expand"></i></a>
                                                                    <a class="action-quick-view" href="#"><i class="ion-heart"></i></a>
                                                                    <a class="action-quick-view" href="#"><i class="ion-shuffle"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="product-info">
                                                                <div class="rating">
                                                                    {% if item.star == 1 %}
                                                                        <span class="fa fa-star"></span>
                                                                    {% endif %}
                                                                    {% if item.star == 2 %}
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    {% endif %}
                                                                    {% if item.star == 3 %}
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    {% endif %}
                                                                    {% if item.star == 4 %}
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    {% endif %}
                                                                    {% if item.star == 5 %}
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                        <span class="fa fa-star"></span>
                                                                    {% endif %}
                                                                </div>
                                                                <h4 class="title"><a href="{% url 'indexing:product-detail' item.pk %}">{{ item.namespace }}</a></h4>
                                                                <div class="prices">
                                                                    <span class="price">{{ item.price }} ₽</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Product Item -->
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="best-sellers" role="tabpanel" aria-labelledby="best-sellers-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                {% for item in product %}
                                                    {% if item.gender == 2 %}
                                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                                            <!-- Start Product Item -->
                                                            <div class="product-item">
                                                                <div class="product-thumb">
                                                                    <img src="{{ item.picture.url }}" style="max-height: 201px; max-width: 191px;" alt="Image">
                                                                    <div class="product-action">
                                                                        <a class="action-quick-view" href="{% url 'indexing:product-detail' item.pk %}"><i class="ion-arrow-expand"></i></a>
                                                                        <a class="action-quick-view" href="#"><i class="ion-heart"></i></a>
                                                                        <a class="action-quick-view" href="#"><i class="ion-shuffle"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-info">
                                                                    <div class="rating">
                                                                        {% if item.star == 1 %}
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 2 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 3 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 4 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 5 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <h4 class="title"><a href="{% url 'indexing:product-detail' item.pk %}">{{ item.namespace }}</a></h4>
                                                                    <div class="prices">
                                                                        <span class="price">{{ item.price }} ₽</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Product Item -->
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-items" role="tabpanel" aria-labelledby="new-items-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                {% for item in product %}
                                                    {% if item.gender == 1 %}
                                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                                            <!-- Start Product Item -->
                                                            <div class="product-item">
                                                                <div class="product-thumb">
                                                                    <img src="{{ item.picture.url }}" style="max-height: 201px; max-width: 191px;" alt="Image">
                                                                    <div class="product-action">
                                                                        <a class="action-quick-view" href="{% url 'indexing:product-detail' item.pk %}"><i class="ion-arrow-expand"></i></a>
                                                                        <a class="action-quick-view" href="#"><i class="ion-heart"></i></a>
                                                                        <a class="action-quick-view" href="#"><i class="ion-shuffle"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="product-info">
                                                                    <div class="rating">
                                                                        {% if item.star == 1 %}
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 2 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 3 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 4 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                        {% if item.star == 5 %}
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                            <span class="fa fa-star"></span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <h4 class="title"><a href="{% url 'indexing:product-detail' item.pk %}">{{ item.namespace }}</a></h4>
                                                                    <div class="prices">
                                                                        <span class="price">{{ item.price }} ₽</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Product Item -->
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--== End Product Tab Area Wrapper ==-->

    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area divider-style1-area bg-img" data-bg-img="{% static 'assets/img/divider/bg1.png' %}" data-aos="fade-up" data-aos-duration="1000">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="divider-content">
                        <h2 class="title">Игрушки из Франции</h2>
                        <p><span>Скидки до 35% </span> Вдохновляют на творчество</p>
                        <a class="btn-theme" href="{% url 'indexing:shop' %}">Перейти в магазин</a>
                    </div>
                </div>
            </div>
            <div class="shape-group">
                <div class="shape-style3">
                    <img src="{% static 'assets/nimg/side-2.webp' %}" style="max-height: 324px; max-width: 532px" alt="Image">
                </div>
                <div class="shape-style4">
                    <img src="{% static 'assets/nimg/side-1.webp' %}" style="max-height: 453px; max-width: 532px" alt="Image">
                </div>
            </div>
        </div>
        <div class="shape-group">
            <div class="shape-style2" data-bg-img="{% static 'assets/img/divider/shape2.png' %}"></div>
        </div>
    </section>
    <!--== End Divider Area Wrapper ==-->
    <!--== Start Product Tab Area Wrapper ==-->
    <section class="product-area product-style2-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                        <h2 class="title">Популярные товары</h2>
                        <div class="desc">
                            <p>Популярные товары нашего сайта рады порадовать вас и вашего малыша своим широким ассортиментом популярных товаров!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in product %}
                    {% if item.trand %}
                        <div class="col-12">
                            <div class="product-tab1-slider" data-aos="fade-up" data-aos-duration="1500">
                                <div class="slide-item">
                                    <!-- Start Product Item -->
                                    <div class="product-item">
                                        <div class="product-thumb">
                                            <img src="{{ item.picture.url }}" style="max-height: 201px; max-width: 191px;" alt="Image">
                                            <div class="product-action">
                                                <a class="action-quick-view" href="{% url 'indexing:product-detail' item.pk %}"><i class="ion-arrow-expand"></i></a>
                                                <a class="action-quick-view" href="#"><i class="ion-heart"></i></a>
                                                <a class="action-quick-view" href="#"><i class="ion-shuffle"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="rating">
                                                {% if item.star == 1 %}
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                                {% if item.star == 2 %}
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                                {% if item.star == 3 %}
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                                {% if item.star == 4 %}
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                                {% if item.star == 5 %}
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                {% endif %}
                                            </div>
                                            <h4 class="title"><a href="{% url 'indexing:product-detail' item.pk %}">{{ item.namespace }}</a></h4>
                                            <div class="prices">
                                                <span class="price">{{ item.price }} ₽</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Product Item -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!--== End Product Tab Area Wrapper ==-->
{% endblock %}