{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}Интернет магазин игрушек - Политика конфиденциальности пользователей{% endblock %}
{% block content %}
    <!--== Start Blog Area Wrapper ==-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-details-content">
                    <div class="post-details-body">
                        <div class="thumb">
                            <img class="w-100" src="{% static 'assets/nimg/politic.webp' %}" alt="Image"/>
                        </div>
                        <div class="content">
                            <div class="meta">опубликовано, <a class="author">Администрацией </a><span
                                    class="dots"></span><span class="post-date">15 Февраля, 2022</span></div>
                            <h4 class="title">Политика конфиденциальности пользователей</h4>
                            {% for m in police %}
                                <p>{{ m.content|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}